{% extends "userlogin/layout_loggedin.html" %}

{% block content %}

<h2>{{ title }}</h2>
  
{% if user.is_authenticated %}  

    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit">Add offer</button>
  </form>

{% else %}
{{ errormessage }}

{% endif %}

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'userlogin/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
